<!--#region header  -->
<div class="unicorn-dark-theme">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 1.1em; color:darkblue;">Cadastro de Autos</span>
      <mat-icon matTooltip="logout" (click)="onLogout()"> directions_run</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img [src]="link" style="width: 2em; height: 2em; transform: rotate(270deg); margin-right: 1em">
  <a class="navbar-brand" href="" style="color: teal; font-size: 1em;">{{usuario}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<!--#endregion -->

<div class='unicorn-dark-theme alinhamentoItens'>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados do Auto
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field>
          <mat-label>Local</mat-label>
          <mat-select color="primary" [(ngModel)]=autodeapreensao.recebedor id='recebedor' name='recebedor'>
            <mat-option *ngFor="let r of recebedor" [value]="r.id">
              {{r.local}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Auto" name="auto" id="auto" [(ngModel)]=autodeapreensao.numero
            maxlength='8' [required]=true mask='00.00.00'>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Matrícula" aria-label="Assignee" matInput [formControl]="myControl"
            [required]=true [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
              (onSelectionChange)='onChangeMatricula(option)'>
              {{option.matricula}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Agente" name="agente" id="agente" [(ngModel)]=autodeapreensao.agente
            [disabled]=true>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data da apreensão" name="data" id="data"
            [(ngModel)]=autodeapreensao.dataapreensao [required]=true>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



        <div class="24hr-example">
          <mat-form-field>
            <input matInput placeholder="Hora da apreensão" name="hora" id="hora" [(ngModel)]=autodeapreensao.hora
              aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly [required]=true>
          </mat-form-field>
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </div>

      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados de localização
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Bairro" aria-label="Assignee2" matInput [formControl]="myControlBairros"
            [required]=true [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnBairros">
            <mat-option *ngFor="let optionbairro of filteredOptionsBairros | async" [value]="optionbairro"
              (onSelectionChange)=onChangeBairro(optionbairro)>
              {{optionbairro.bairro}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Logradouro" ngx-google-places-autocomplete [options]='googleoptions'
            (onAddressChange)="handleAddress($event)" [required]=true [disabled]=disabledLogradouro [required]=true />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Número" name="numero" id="numero"
            [(ngModel)]=autodeapreensao.lognumero [disabled]=disabledLogradouro>
        </mat-form-field>

      </form>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lacres e Apreensões
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field>
          <mat-label>Responsável pela retenção</mat-label>
          <mat-select color="primary" [(ngModel)]=autodeapreensao.origem id='responsavel' name='responsavel'>
            <mat-option *ngFor="let n of origemLacre" [value]="n">
              {{n}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Lacre" name="lacre" id="lacre" [(ngModel)]=lacre.numero maxlength='8'
            (change)=onchangeLacre() (focus)=onFocusLacre()>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Grupos</mat-label>
          <mat-select color="primary" [(ngModel)]=lacre.grupo id='grupo' name='grupo'>
            <mat-option *ngFor="let n of origemGrupo" [value]="n.grupo">
              {{n.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Quantidade" name="qtde" id="qtde" [(ngModel)]=lacre.quantidade
            (blur)=onChangeQuantidade(lacre)>
        </mat-form-field>

        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">lacre</th>
              <th scope="col">posição</th>
              <th scope="col">grupo</th>
              <th scope="col">quantidade</th>
              <th scope="col">ação</th>
            </tr>
          </thead>
          <tr *ngFor='let lc of listaLacres'>
            <td>{{lc.numero}}</td>
            <td>{{lc.pos}}</td>
            <td>{{lc.grupo}}</td>
            <td>{{lc.quantidade}}</td>
            <td><span id='deletar' (click)='onDeleteLacre(lacre)'>Remover</span></td>
          </tr>
        </table>

        <div class="alinhamentoButton unicorn-dark-theme">
          <button type='submit' mat-button color="primary" (click)='onSubmit()' [disabled]=disabled>Salvar</button>
        </div>
      </form>



    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relatórios
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field>
          <mat-label>Local</mat-label>
          <mat-select color="primary" [(ngModel)]=autodeapreensao.recebedor id='recebedor' name='recebedor'>
            <mat-option *ngFor="let r of recebedor" [value]="r.id">
              {{r.local}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Data do relatório" name="data2" id="data2"
            [(ngModel)]=datadorelatorio [required]=true>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="alinhamentoButton unicorn-dark-theme">
          <button type='submit' mat-button color="primary" (click)=onImprimirRelatorio()>Imprimir</button>
        </div>

      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Etiquetas
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">

        <mat-form-field>
          <input matInput type="text" placeholder="Auto" name="autonumero" id="autonumero"
            [(ngModel)]=autodeapreensao.numero maxlength='8' [required]=true (focus)=onFocusAuto()
            (change)=onChangeAutoEtiqueta() mask='00.00.00'>
        </mat-form-field>

        <div class="container" *ngIf=disabledEtiquetas>
          <div class="row">
            <div class="col-sm">
              <div class="alinhamentoButton unicorn-dark-theme">
                <button type='submit' mat-button color="primary" (click)=onImprimirEtiquetaAuto()>Auto</button>
              </div>
            </div>
            <div class="col-sm">
              <div class="alinhamentoButton unicorn-dark-theme">
                <button type='submit' mat-button color="primary" (click)=onImprimirEtiquetaLacre()>Lacres</button>
              </div>
            </div>
          </div>
        </div>





      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Consertar lacre
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput type="text" placeholder="Auto" name="autonumero" id="autonumero" [(ngModel)]=lacreupdate.auto
          maxlength='8' [required]=true (focus)=onFocusAuto() (change)=onChangeAuto() mask='00.00.00'>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Número a corrigir" name="numeroerrado" id="numeroerrado"
          [(ngModel)]=lacreupdate.numeroerrado maxlength='8' [required]=true (focus)=onFocusNumeroErrado()
          (change)=onChangeNumeroErrado() [disabled]=disabledErrado>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Número corrigido" name="numerrocorreto" id="numerrocorreto"
          [(ngModel)]=lacreupdate.numerocerto maxlength='8' [required]=true (focus)=onFocusNumeroCerto()
          (change)=onChangeNumeroCerto() [disabled]=disabledCerto>
      </mat-form-field>

      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='submit' mat-button color="primary" (click)=onSubmitUpdateLacre()
          [disabled]=disabledButao>Corrigir</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>