<!--#region header  -->
<div class="unicorn-dark-theme">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 1.1em; color:darkblue;">Cadastro de Autos</span>
      <mat-icon matTooltip="logout" (click)="onLogout()"> directions_run</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img [src]="link" style="width: 2em; height: 2em; transform: rotate(270deg); margin-right: 1em">
  <a class="navbar-brand" href="" style="color: teal; font-size: 1em;">{{usuario}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<!--#endregion -->

<div class='unicorn-dark-theme alinhamentoItens'>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados do Auto
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field>
          <input matInput type="text" placeholder="Auto" name="auto" id="auto" [(ngModel)]=autodeapreensao.numero
            maxlength='8' [required]=true mask='00.00.00'>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Matrícula" aria-label="Assignee" matInput [formControl]="myControl"
            [required]=true [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
              (onSelectionChange)='onChangeMatricula(option)'>
              {{option.matricula}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Agente" name="agente" id="agente" [(ngModel)]=autodeapreensao.agente
            [disabled]=true>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data da apreensão" name="data" id="data"
            [(ngModel)]=autodeapreensao.dataapreensao [required]=true>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



        <div class="24hr-example">
          <mat-form-field>
            <input matInput placeholder="Hora da apreensão" name="hora" id="hora" [(ngModel)]=autodeapreensao.hora
              aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly [required]=true>
          </mat-form-field>
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </div>

      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados de localização
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Bairro" aria-label="Assignee2" matInput [formControl]="myControlBairros"
            [required]=true [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnBairros">
            <mat-option *ngFor="let optionbairro of filteredOptionsBairros | async" [value]="optionbairro"
              (onSelectionChange)=onChangeBairro(optionbairro)>
              {{optionbairro.bairro}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Logradouro" ngx-google-places-autocomplete [options]='googleoptions'
            (onAddressChange)="handleAddress($event)" [required]=true [disabled]=disabledLogradouro />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Número" name="numero" id="numero"
            [(ngModel)]=autodeapreensao.lognumero [required]=true [disabled]=disabledLogradouro>
        </mat-form-field>

      </form>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lacres e Apreensões
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field class="unicorn-dark-theme">
          <mat-label>Responsável pela retenção</mat-label>
          <mat-select color="primary" [(ngModel)]=autodeapreensao.origem id='responsavel' name='responsavel'>
            <mat-option *ngFor="let n of origemLacre" [value]="n">
              {{n}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Lacre" name="lacre" id="lacre" [(ngModel)]=lacre maxlength='8'
            [required]=true (change)=onchangeLacre() (focus)=onFocusLacre()>
        </mat-form-field>

        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">lacre</th>
              <th scope="col">posição</th>
              <th scope="col">grupo</th>
              <th scope="col">quantidade</th>
              <th scope="col">ação</th>
            </tr>
          </thead>
          <tr *ngFor='let lacre of listaLacres'>
            <td>{{lacre.numero}}</td>
            <td>{{lacre.pos}}</td>
            <td>
              <mat-select color="primary" id='grupo' name='grupo' class="table-dark" [(ngModel)]=lacre.grupo>
                <mat-option *ngFor="let g of origemGrupo" [value]="g.grupo">
                  {{g.tipo}}
                </mat-option>
              </mat-select>
            </td>
            <td>

              <div class="col">
                <input type="number" class="form-control" class='table-dark quantidade' id='quantidade'
                  name='quantidade' [(ngModel)]=lacre.quantidade (change)=onChangeQuantidade(lacre)>
              </div>
            </td>
            <td><span id='deletar' (click)='onDeleteLacre(lacre)'>Remover</span></td>
          </tr>
        </table>



      </form>



    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relatórios
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
