<div class="alerta" *ngIf="loadingCampos === 2">
  <span>Erro: preencha todos os campos</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 3">
  <span>Sucesso: dados salvos</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 4">
  <span>Erro: verifique sua conexão</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 5">
  <span>Erro: acesso não autorizado</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 6">
  <span>Erro: informações de lacre ausente</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 7">
  <span>Erro: Auto inexistente</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 8">
  <span>Erro: Lacre inexistente</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 9">
  <span>Sucesso: Lacre corrigido</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 10">
  <span>Erro: Informe o local</span>
</div>